* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  padding-left: 0;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Product Sans", sans-serif;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*------------------------------------*/ /*------------------------------------*/
/*------------------------------------*/ /*------------------------------------*/
.cube {
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg);
          transform: rotateX(-30deg);
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  -webkit-transform: rotateX(90deg) translateZ(150px);
          transform: rotateX(90deg) translateZ(150px);
}
.cube .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #0f0;
  -webkit-transform: translateZ(-380px);
          transform: translateZ(-380px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgb(0, 255, 0);
          box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgb(0, 255, 0);
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#00ec00));
  background: linear-gradient(#151515, #00ec00);
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
          transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}